<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.quelltext.coloring"
    android:versionCode="4"
    android:versionName="1.1.4">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_logo"
        android:roundIcon="@drawable/ic_logo_round"
        android:label="@string/app_name"
        android:logo="@drawable/ic_logo"
        android:usesCleartextTraffic="true" >
        <activity android:name="org.androidsoft.coloring.ui.activity.ImageImportActivity">
            <tools:validation testUrl="http://gallery.quelltext.eu/images/Benzfish.png" />
            <tools:validation testUrl="http://192.168.42.108:4000/images/Benzfish.png" />

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- allow http access -->
                <data android:scheme="http" />
                <data android:scheme="https" />
                <!-- Trying deep links does not seem to be supported everywhere -->
                <data android:scheme="coloring" />
                <data android:host="gallery.quelltext.eu" />
                <data android:mimeType="image/*" />
                <data android:pathPrefix="/images" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- allow http access -->
                <data android:scheme="http" />
                <!-- Trying deep links does not seem to be supported everywhere -->
                <data android:scheme="coloring" />
                <!-- for development purposes, change the ip to your's -->
                <data android:host="192.168.42.108" android:port="4000" />
                <data android:mimeType="image/*" />
                <data android:pathPrefix="/images" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.androidsoft.coloring.ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.androidsoft.coloring.ui.activity.PaintActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity android:name="org.androidsoft.coloring.ui.activity.ChoosePictureActivity" />
        <activity android:name="org.androidsoft.coloring.ui.activity.PickColorActivity" />
        <activity
            android:name="org.androidsoft.coloring.ui.activity.CreditsActivity"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="org.androidsoft.coloring.paint.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>


</manifest>